html, body {
    --button-width: 200px;
    --button-height: 75px;
    --button-fontsize: 3rem;
    --upper-height: 90%;

    margin: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
}
section {
    width: 100%;
}
section.up {
    height: var(--upper-height);
    background-color: white;
    border-bottom: 3px solid #566778;
}
section.down {
    height: calc(100% - var(--upper-height));
    background-color: skyblue;
}
.card-box {
    width: 100%;
    padding: calc(25vw - 85px);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}

button.btn {
    height: var(--button-height);

    position: absolute;
    top: var(--upper-height);
    margin-top: calc(var(--button-height) * -0.5);

    background-color: white;
    border-radius: 45px;
    border-bottom: 6px solid #566778;

    outline: 0px;
    font-size: var(--button-fontsize);
}
button.btn:focus:active {
    border-right-width: 2px;
    border-bottom-width: 2px;
}
button#startbutton.btn {
    width: var(--button-width);
    left: 8%;
}
button#resetbutton.btn {
    width: var(--button-height);
    right: 8%;
}